<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>testConfig</servlet-name>
        <servlet-class>com.strong.servlet.TestGenericServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>mysql:localhost:3306/test</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>testConfig</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

</web-app>